body {
  margin-top: 56px;
}


.scroll {
  scroll-margin-top: 56px;
  text-align: center;
}

.background-image { 
    Background-position: top;
    background-image: url("../images/colorful eyes 1.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    position: relative;
}

#hero {
  padding: 0;
  margin: 0;
}

.hero {
  position: absolute;
  bottom: 1%;
  right: 5%;
  background-color: #7cb0c77d;
}

.card img:hover {
  cursor: pointer;
}


a:hover {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  background-color: var(--NAV--LINK-HOVER);
}

/* .footer --> footer */
footer {
  padding: 30px;
  clear: both;
  text-align: center;
}

footer h3 {
  font-size: 15px;
}